/* General Formatting */
body {
    font-family: 'Kalam', cursive;
    background-color: #96A8C8;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #071419;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-box {
	background:white;
	border-style:solid;
	border-width:1.5px;
	border-color:#071419;
	border-radius: 12px;
	-moz-border-radius: 12px;
    width: 50%;
    margin: 2.5px;
    background-size: 40px 40px;
    background-image: 
    linear-gradient(to right, rgb(197, 197, 197) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(197, 197, 197)1px, transparent 1px);
    }

    /* Navigation bar */
.mobile-nav {
        display: none;
    }
nav {
    text-align: center;
    display: flex;
}

nav li{
    display: inline;
    margin: 5px;
}

nav ul {
    margin: auto;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    border-bottom: 4px solid yellow;
    transition: border-bottom 0.3s ease
    
}

nav a:visited { 
    color: black; 
   }



   /* About me section */
#about-me img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:#071419;
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about-me.white-box h1, h2 {
    text-align: center;
}

/* Projects section */
.media-text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    width: auto;
}

.media-text-container img {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.media-text-container .media-container {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.media-text-container .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

/* Core technologies section */
#core-technologies img:hover {
    transform: scale(1.4);
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
}



/* Contact section */
#contact img:hover {
    transform: scale(1.4);
}

#contact ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

/* Dark theme */
[theme="dark"] * {
    color: #F5F7FA;
}

[theme="dark"] a:visited {
    color: #F5F7FA;
}

[theme="dark"] nav a:hover {
    border-bottom: 4px solid #C054BE;
}

[theme="dark"] .white-box {
    background-color: #616e7c;
}

[theme="dark"] body {
    background-color:#1F2933;
}

/* Slider styling */

.theme-switch-container p {
    margin: 0 0 0 5px;
}

.theme-switch-container span {
    visibility: hidden;
}

.theme-switch-container {
    display: flex;
    align-items: center;
    position: absolute;
}

.theme-slider {
    display: inline-block;
    height: 14px;
    position: relative;
    width: 30px;
}

.theme-slider input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    content: "";
    height: 14px;
    position: absolute;
    transition: .4s;
    width: 14px;
}

input:checked+.slider {
    background-color: #66bb6a;
}

input:checked+.slider:before {
    transform: translateX(16px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media only screen and (max-width: 1050px) {
    .white-box {
        width: 75%;
    }

    .theme-switch-container span {
        visibility: visible;
    }

    .theme-switch-container p {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .mobile-nav {
        display: block;
    }

    .desktop-nav {
        display: none;
    }

    .media-text-container img {
        width: 100px;
        height: 100px;
    }

    #core-technologies img {
        width: 50px;
        height: 50px;
    }
}